body{
    background-color: #cce0ff;
}

.contact-col{
    height: 700px;
    width: 48%;
    border-style: outset;
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.contact-container {
    height: 700px;
    width: 100%;
    margin-top: 150px;
    
}

iframe{
    width: 100%;
}

.footer{
    margin-top: 30px;
}

