.contact-col{
    height: 700px;
    width: 48%;
    border: blue solid 3px;
    float: left;
    
}

.contact-container {
    height: 700px;
    width: 100%;
    margin-top: 150px;
}

iframe{
    width: 100%;
}

